# Тимчасові файли Python
__pycache__/
*.pyc

# Віртуальне середовище (якщо створював)
venv/
env/

# Папки з налаштуваннями редакторів
.vscode/
.idea/

# Локальні звіти та скріншоти (їм не місце в коді)
Reports/
*.png
*.log

# Налаштування безпеки
.env
